.header{
    background-image: url('/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: 100px,100px,10px,10px;
    background-blend-mode:darken;
    width: 1420px;
    height: 600px;
    text-align: center;
    /* border-radius: 16px;
     background: linear-gradient(#070211 0%, rgba(0, 0, 0, 0) 100%); */
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
h3{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    padding:200px 100px 100px 150px;
   }
.wish{
    color: #FFF;
    padding: 10px;
    font-size: medium;
}
.welcome{
    width: 802.9px;
height: 500px;
padding-left: 350px;
padding-top: 180px;
padding-bottom: 120px;
    
}
.main{
    background-image: url('/resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1520px;
height: 600px;
background-position:95px;
padding-left: 950px;
padding-top: 180px;
padding-bottom: 120px;
}
.year{
width: 319.83px;
height: 464.662px;
padding-top: 70px;
padding-right: 870px;
padding-bottom: 70px;

}